.bannerN
{
    display: flex;
}

.banner-textN h2{
    font-size: 40pt;
    font-family: 'Axiforma';
    font-weight: bold;
}
.banner-textN{
    text-align: center;
    align-self: center;
   
}
.banner-textN p{
    font-family: 'Muli';
    font-size: 20pt;
}

.banner-textN
{
    padding: 0 1.5rem;
}