.bannerN
{
    display: flex;
}

.banner-textN {
    font-size: 50px;
    font-family: "Muli-Regular", Helvetica;
    font-weight: 700;
    font-size: 38.0pt;
    ;
    line-height: 4.5rem;
    font-style: normal;
    font-weight: 700;

}
.banner-textN{
    text-align: center;
    align-self: center;
   
}
.banner-textNp{
    font-family: "Muli-Regular", Helvetica;
    font-size: 18pt;
    line-height: 2.5rem;
    font-style: normal;
    font-weight: 400;
}

.banner-textN
{
    padding: 0 1.5rem;
}