.chooseCountry
{
    text-align: center;
}

.textCountry{
    text-align: center;
    font-family: "Muli-Regular", Helvetica;
    font-style:normal;
    font-size: 30pt;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 4rem;
}