.introduction
{
    background-color: #00A693;
    color:white;
    border-radius: 30px;
    text-align: center;
    padding: 1.5rem;
    margin: 6rem 0;
    box-shadow: 2px 16px 16px -8px gray;
    
}

.introduction h1
{
    font-size: 2rem;

}

.introduction p
{
    font-size: 1.2rem;
    line-height: 1.6;
}
.introduction button
{
    background-color: transparent;
    border:1px solid white;
    border-radius:2px ;
    color:white;
    padding:6px 10px;
    cursor: pointer;
}