.navigation
{

    display:flex;
    justify-content: space-between;
    padding:0 1.5rem;
}

.listStyle
{
    list-style-type: none;
    padding: 0;
}
.listStyle a
{
    padding-right: 2rem;
    color:#01463a;
    font-weight: 700;
    font-size: 20pt;
    font-family: "Muli-Regular", Helvetica;
    text-decoration:none;
    cursor: pointer;
}
.navigation-inside
{
  
    display:flex;
    
}


.underline {
    border-bottom-width: 8px;
    border-bottom-style: solid;
    color: red;
    border-bottom-color: #01463a;
}