.navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px 1.5rem;
}

.listStyle {
  list-style-type: none;
  padding: 0;
}
.navlinks {
  margin-right: 3.5rem;
  padding-bottom: 3px;
  color: #01463a;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.navigation-inside {
  display: flex;
}

.activeclass {
  border-bottom: 2px solid #01463a;
  /* border-radius: 0px; */
}
