.mainWA{
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.bannerWA{
    display: flex;
    margin-top:0 ;
    margin-bottom: 0;
    /* background-color: saddlebrown; */
    
}
.banner-textWA {
    margin-top: 0;
    text-align: center;
    /* background-color: salmon; */
    line-height: 1.4;
    padding: 2rem;
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
    
}

.banner-btnWA{
    border-radius: .5rem;
    padding: .5rem;
    background-color: transparent;
    border-color: #006400;
    border-style: solid;
    border-width: .13rem;
    box-shadow: .2rem .4rem .2rem lightgrey;
}
.whatHeader{
    font-family: "Muli-Bold", Helvetica;
    font-weight: 700;
    color: #007e69;
    font-style: normal;
    font-size: 40pt;
}
.banner-btnWA a{
    text-decoration: none;
    color: #006400;
    
    
}
.banner-imgWA{
    display: flex;
   justify-content: center;
   align-items: center;
   
}
.Np{
    font-style: normal;
    color: black;
    font-size: 15pt;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.bodyWA{
    text-align: center;
    margin-top: 9rem;
    font-weight: 600;
    margin-bottom: 3rem;
    font-size: 35pt;
    font-style: normal;
    font-family: "Muli-Regular", Helvetica;


}
.bodyWA h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: -20%;
}
.inr-bodyWA{
    justify-content: center;
    align-self: center;
    margin-top: 1rem;
    padding: 1rem;
    margin-left: 10%;
    margin-left: 15%;
}

.body-1WA h3{
    font-size: 1.2rem;
    font-weight: 500;
}
.body-1-1WA{
  border-radius: .5rem;
  border-color: #006400;
  border-style: solid;
  border-width: .12rem;
  padding-left: 1rem;
  padding-right: 2rem;
  width: 60%;
  box-shadow: .3rem .5rem .3rem lightgray;
}
.body-1-1WA p{
    margin-right: 2rem;
    margin-bottom: 3rem;
    font-family:"Muli-Regular", Helvetica;
    color: black;
    font-size: 15pt;
}
.body-2WA{
    width: 60%;
    
}
.body-2WA p{
    margin-right: 2rem;
    margin-bottom: 3rem;
    font-family:"Muli-Regular", Helvetica;

    color: black;
    font-size: 15pt;
}
